{
  "FILENAME": "_config_settings.json",
  "SECRET_KEY": "ENTER_SECRET_KEY",
  "DJANGO_SETTINGS_MODULE": "project.config.settings.production"
  "WP_USER":"wordpress_user_name",
  "WP_PASS":"wordpress_user_pass",
  "CONSUMER_KEY":"wordpress_oauth_consumer_key",
  "CONSUMER_SECRET":"wordpress_oauth_consumer_secret",
  "ENDOMONDO_USER_ID": "endomondo_user_id",
  "ENDOMONDO_USER":"endomondo_username",
  "ENDOMONDO_PASS":"endomondo_password",
  "GOOGLE_API_KEY": "google_api_key"
}
