@import 'reset';
@import 'variables';
@import 'buttons';
@import 'frontend';
@import 'backend';
@import 'modal';
@import 'forms';


body {
    font-family: 'Lora', serif;
    color: #222222;
    background-color: #f3f3f3;
}


// Ajax indicator
.htmx-indicator {
    display: none;
}

.htmx-request .htmx-indicator {
    display: inline;
}

.htmx-request.htmx-indicator {
    display: inline;
}