 {% load datetime_filter %}

var map;
$(document).ready(function () {
    prettyPrint();

    map = new GMaps({
        div: '#map',
        zoom: 12,
        lat: {{last_point.latitude|safe}},
        lng: {{last_point.longitude|safe}},
    });

    {% for item in tracks %}
        map.drawPolyline({path: {{item.points|safe}}, strokeColor: "{% cycle 'Blue' 'Green' %}", strokeOpacity: 0.6, strokeWeight: 3 });
        map.addMarker({
            lat: {{item.last_point.0|safe}},
            lng: {{item.last_point.1|safe}},
            title: '',
            infoWindow: {
                content: `
                <table border="0">
                    <tr><td>Diena:</td><td>{{ item.track.date|date:'Y-m-d' }}</td></tr>
                    <tr><td>Atstumas:</td><td>{{ item.track.stats.total_km|floatformat:2 }} km</td></tr>
                    <tr><td>Laikas:</td><td>{{ item.track.stats.total_time_seconds|format_datetime }}</td></tr>
                    <tr><td>Vidutis greitis:</td><td>{{ item.track.stats.avg_speed|floatformat:2 }} km/h</td></tr>
                </table>
                `
            }
        });
    {% endfor %}
});
