{% load parse_date_filter %}
{% load datetime_filter %}
{% load comment_qty %}
{% load static %}


{% if not wp_error %}
    <!-- Galery JS files -->
    {% include 'maps/includes/modula.html' %}

    {% for post in posts %}
    <div class="post" x-data="{ open: false }">
        <div class="post-header">
            <h2><a href="{{ post.link }} " rel="bookmark ">{{ post.title.rendered|safe }}</a></h2>
            <p>{{ post.date|parse_date|date:'Y-m-d  H:m' }}</p>
        </div>

        <div class="post-content">
            {{ post.content.rendered }}
        </div>

        <div class="post-footer">
            <a href="#" hx-get="{% url 'maps:comments' trip.slug post.id %}" hx-target="#post_{{post.id}}" hx-trigger="click once" hx-indicator="#indicator" x-on:click="open = ! open" x-text="open ? 'Slėpti komentarus' : 'Rodyti komentarus ({% comment_qty comments_qty post.id %}) ' ">Rodyti komentarus</a>
                &nbsp;
            <a href="{{ post.link }}#respond">Rašyti komentarą</a>
        </div>

        <div class="post-comments" id="post_{{post.id}}" x-show="open"></div>

    </div>

    {% if forloop.last %}
    <div hx-get="{% url 'maps:posts' trip.slug %}?offset={{offset}}" hx-trigger="intersect once" hx-swap="outerHTML" hx-indicator="#indicator">&nbsp;</div>
    {% endif %}

    {% endfor %}

{% else %}

    <div class="wp-error">
        <p>{{ wp_error }}</p>
        <p>Dienoraštį galite skaityti <a href="https://unknownbug.net/nezinomas">https://unknownbug.net/nezinomas</a>
    </div>

{% endif %}
