{% extends 'base.html' %}

{% load static %}

{% block head %}{% endblock head %}


{% block content %}
<div class="container">
    <button type="button" class="btn-success" hx-get="{% url 'maps:comment_qty' view.kwargs.trip %}" hx-target="#utils-messages" hx-indicator="#indicator" onClick='$("#utils-messages").html("");'>Push Comment Qty</button>

    <button type="button" class="btn-success" hx-get="{% url 'maps:download_tcx' view.kwargs.trip %}" hx-target="#utils-messages" hx-indicator="#indicator" onClick='$("#utils-messages").html("");'>Download From Garmin</button>

    <button type="button" class="btn-primary" hx-get="{% url 'maps:update_tracks' view.kwargs.trip %}" hx-target="#utils-messages" hx-indicator="#indicator" onClick='$("#utils-messages").html("");'>Save New Tracks</button>

    <button type="button" class="btn-danger" hx-get="{% url 'maps:update_all_tracks' view.kwargs.trip %}" hx-target="#utils-messages" hx-indicator="#indicator" onClick='$("#utils-messages").html("");'>Rewrite All Tracks</button>

    <button type="button" class="btn-secondary" onClick='$("#utils-messages").html("");'>Clear Messages</button>
</div>

{% endblock content %}
