{% extends 'base.html' %}

{% block content %}

<!-- htmx Loader -->
<div class="htmx-indicator loader loader-default is-active" id="indicator"></div>

<div class="utils-main">
    <div id="utils-messages"> </div>
    <div id="utils-trips" class="accordion">
        {% for trip in object_list %}
        <input type="radio" name="accordion" id="trip-{{trip.pk}}" {% if forloop.first%}checked{%endif%}>
        <section>
            <label class="box-title" for="trip-{{trip.pk}}">{{trip.title}} / <span>{{trip.start_date|date:"Y-m-d"}}</span></label>
            <label class="box-close" for="acc-close"></label>
            <div class="box-content"><c-buttons :trip_slug=trip.slug /></div>
        </section>
        {% endfor %}
      </div>
</div>

{% endblock content %}