{% extends 'base.html' %}

{% load static %}

{% block head %}

    <script src="https://unpkg.com/htmx.org@1.7.0"></script> <!-- Htmx -->
    <script defer src="https://unpkg.com/@alpinejs/morph@3.10.2/dist/cdn.min.js"></script><!-- Alpine Plugins -->
    <script defer src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js"></script> <!-- Alpine Core -->

{% endblock head %}


{% block content %}

    <div>
      <button type="button" class="btn btn-sm btn-info" hx-get="{% url 'maps:download_tcx' slug %}" hx-target="#output" onClick='$("#output").html("");'>Download From Garmin</button>
      <button type="button" class="btn btn-sm btn-primary" hx-get="{% url 'maps:update_tracks' slug %}" hx-target="#output" onClick='$("#output").html("");'>Save New Tracks</button>
      <button type="button" class="btn btn-sm btn-primary" hx-get="{% url 'maps:update_points' slug %}" hx-target="#output" onClick='$("#output").html("");'>Save New Points</button>
      <button type="button" class="btn btn-sm btn-danger" hx-get="{% url 'maps:update_all_tracks' slug %}" hx-target="#output" onClick='$("#output").html("");'>Rewrite All Tracks</button>
      <button type="button" class="btn btn-sm btn-danger" hx-get="{% url 'maps:update_all_points' slug %}" hx-target="#output" onClick='$("#output").html("");'>Rewrite All Points</button>
      <button type="button" class="btn btn-sm btn-secondary" onClick='$("#output").html("");'>Clear Messages</button>
    </div>

    <div id="output"></div>

{% endblock content %}
