body{
  font-family: 'Droid Sans', 'Helvetica', Arial, sans-serif;
  margin:5px;
}

#body{
  width:95%;
}

#instructions{
  margin-top: 10px;
}
#instructions li{
  display:none;
}

.overlay{
  display:block;
  text-align:center;
  color:#fff;
  font-size:60px;
  line-height:80px;
  opacity:0.8;
  background:#4477aa;
  border:solid 3px #336699;
  border-radius:4px;
  box-shadow:2px 2px 10px #333;
  text-shadow:1px 1px 1px #666;
  padding:0 4px;
}

.overlay_arrow{
  left:50%;
  margin-left:-16px;
  width:0;
  height:0;
  position:absolute;
}
.overlay_arrow.above{
  bottom:-15px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-top:16px solid #336699;
}
.overlay_arrow.below{
  top:-15px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-bottom:16px solid #336699;
}

.row{
  font-size:14px;
}

pre{
  font-family:'Ubuntu Mono';
  font-size: 14px;
}

.row{zoom:1;}.row:before,.row:after{display:table;content:"";zoom:1;}
.row:after{clear:both;}


pre.prettyprint{
  background:#fff;
  border-color:#c1c1c1;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  -webkit-box-shadow:0 0 10px #999;
  -moz-box-shadow:0 0 10px #999;
  box-shadow:0 0 10px #999;
  padding:5px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.label {
  font-size: 10.998px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999999;
  margin: 2px 6px;
}

.label {
  padding: 1px 4px 2px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.notice {
  background-color: #3a87ad;
}

form input[type=text] {
  border: solid 1px #999999;
  padding: 2px;
}

.edit_marker {
  width: 250px;
  height: 80px;
}

.edit_marker p {
  margin: 0;
}
