body{
  font-family: 'Lora', serif;
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  background-color: #f3f3f3;
}

.popin{
  background:#fff;
  padding:15px;
  box-shadow: 0 0 20px #999;
  border-radius:2px;
}


#map {
  height:400px;
  background:#6699cc;
}

.map_row{zoom:1;}.map_row:before,.map_row:after{display:table;content:"";zoom:1;}
.map_row:after{clear:both;}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1f1f1f;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
}

a:active,
a:focus {
    outline: none !important;
}

a, .btn-as-link {
    text-decoration: none !important;
    color: #ea4c88;
}

a:hover, a:focus,
a.btn-as-link:hover, a.btn-as-link:focus {
    color: #ea4c88;
}

p{
    line-height: 24px;
    color: #222222;
}

/* Post */
.post-content {
    text-align: left;
}

.post-in{
    margin-top: -5px;
}

.post .post-in a{
    color: #ea4c88;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
}

h2.post-title{
    font-size: 24px;
    color: #222222;
}

h2.post-title a{
    color: #222222;
}

p.post-date {
  margin:0;
  padding: 0;
}

.post-thumb{
    margin-bottom: 18px;
    position: relative;
    overflow: hidden;
}

.post-thumb img{
    width: 100%;
}

.post-thumb .meta-overlay{
    opacity: 0;
    background-color: rgba(34,34,34,0.4);
    overflow: hidden;
    color: #fff;
    padding: 8px 25px;
    position: absolute;
    left: 0;
    font-size: 12px;
    letter-spacing: 1px;
    bottom: -20px;
    width: 100%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.post-thumb:hover .meta-overlay{
    opacity: 1;
    bottom: 0;
}

.post-thumb .meta-overlay a{
    color: #ffffff;
}

.post-thumb .meta-overlay a:hover{
    color: #ea4c88;
}

.post-thumb .meta-overlay .social-share-icons a{
    margin: 0 3px;
}

article.large-post{
    margin-bottom: 50px;
}

.large-post .entry-title{
    font-size: 24px;
    margin-bottom: 17px;
}

.large-post .entry-header{
    margin-bottom: 28px;
}

.large-post .post-thumb{
    margin-bottom: 28px;
}

img[class*="wp-image-"] {
    max-width: 100%;
    height: auto;

}

.wp-block-image, .wp-block-image img {
    max-width: 100%;
    height: auto;
}


.post img {
    max-width: 100%;
    height: auto;
}

.comments {
    text-align: left;
}

.comment-author{
    margin-top: 0;
    margin-bottom: 5px;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    letter-spacing: .30px;
}

.comment-date{
    color: #AAAAAA;
    font-size: 11px;
}

.comment-content{
    margin-top: 5px;
}

/*
                                                                    Ajax indicator
*/
.htmx-indicator {
    display: none;
}

.htmx-request .htmx-indicator {
    display: inline;
}

.htmx-request.htmx-indicator {
    display: inline;
}
